/* Reset básico para remover margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo fontes padrão */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

/* Estilo para o cabeçalho */
header {
    background-color: #ff2600; /* Cor de fundo vermelha */
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
}

/* Estilo para as seções de galeria */
.galeria {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

.galeria h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #333;
}

/* Estilo para as fotos */
.fotos {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.fotos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.fotos img:hover {
    transform: scale(1.1);
}

/* Estilo para o rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #ff6347;
    color: white;
}

footer p {
    font-size: 1rem;
}
